.cliente-page {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #6f42c1;
  overflow-y: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cliente-container {
  padding-top: 10px;
  display: flex;
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
  width: 100%;
  max-width: 600px;
  min-height: 490px;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  justify-content: center;
}

h1 {
  margin-top: 0px;
  text-align: center;
  color: #333;
}

.cliente-form {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.input-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.success-message {
  padding: 10px;
  color: green;
  text-align: center;
  font-weight: bold;
}

.error-message {
  color: red;
  text-align: center;
  font-weight: bold;
}
