.corrida-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
}

.corrida-container h2 {
  text-align: center;
  font-size: 24px;
  color: #333;
}

.corrida-form {
  margin-top: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.input-group input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

button {
  padding: 12px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

.message {
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
}

.message.success {
  color: green;
}

.message.error {
  color: red;
}

input, .MuiAutocomplete-input {
  margin-bottom: 15px; /* Adds space between inputs */
}

  